{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ include('library/_form.html.twig', {
        button_text: 'Создать'
    }) }}

{% endblock %}


